<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="index.html" class="navbar-brand"><img src="images/ly.png" class="img-responsive" width="20px" /></a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li id="home-nav-item" class="active"><a href="#home">HOME</a></li>
        <li id="aboutme-nav-item"><a href="#aboutme">ABOUT ME</a></li>
        <li id="project-nav-item"><a href="#project">MY PROJECTS</a></li>
        <li id="interests-nav-item"><a href="#interests">INTERESTS</a></li>
        <li id="personal-nav-item"><a href="#personal">TIMELINE</a></li>
        <li id="contact-nav-item"><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>

<section id="home" class="text-center">
  <div class="lvjing">
    <div class="container">
      <div class="line-box">
        <div class="line"></div>
      </div>
      <span>WELCOME TO</span>
      <div class="line-box">
        <div class="line"></div>
      </div>
      <h1>Andy</h1>
      <h1 class="green">Moon's</h1>
      <div class="line-box short-line">
        <div class="line"></div>
      </div>
      <span>PORTFOLIO</span>
      <div class="line-box short-line">
        <div class="line"></div>
      </div>
      <div class="row">
        <button class="btn btn-primary">ARE YOU REDEAY?</button>
      </div>
    </div>
  </div>
</section>

<section id="aboutme">
  <div class="container">
    <div class="text-center">
      <div class="line-box">
        <div class="line"></div>
      </div>
      <span>EVERYTHING</span>
      <div class="line-box">
        <div class="line"></div>
      </div>
      <h1 class="big-title wow slideInRight" data-wow-duration="2s" data-wow-delay="0s" data-wow-offset="10">ABOUT ME</h1>
      <div class="line-box short-line">
        <div class="line"></div>
      </div>
      <span>YOU SHOULD KNOW</span>
      <div class="line-box short-line">
        <div class="line"></div>
      </div>
    </div>

    <div class="aboutme-img">
      <div class="left-content">
        <img src="images/aboutme_l.png" class="img-responsive wow fadeInLeft" data-wow-duration="2s" data-wow-offset="10">
        <h3 class="wow fadeInLeft" data-wow-offset="10">Perfectionist</h3>
      </div>
      <div class="center-content">
        <img src="images/aboutme.png" class="img-responsive wow fadeInUp" data-wow-offset="10">  
        <h3 class="wow fadeInUp" data-wow-offset="10">Cheerful</h3>
      </div>
      <div class="right-content">
        <img src="images/aboutme_r.png" class="img-responsive wow fadeInRight" data-wow-duration="2s" data-wow-offset="10">
        <h3 class="wow fadeInRight" data-wow-offset="10">Reliable</h3>
      </div>
    </div>
  </div>
</section>

<section id="skill">
  <div class="lujing">
    <div class="container">
      <h1>Believe it or not, that's where I'm good at.</h1>
      <div class="row">
        <div class="col-md-4">
          <div id="indicatorContainer1"></div>
          <h1>WEB</h1>
          <h4>HTML5, CSS3, jQuery, Emberjs</h4>
        </div>
        <div class="col-md-4">
          <div id="indicatorContainer2"></div>
          <h1>DESIGN</h1>
          <h4>Adobe Photoshop</h4>
        </div>
        <div class="col-md-4">
          <div id="indicatorContainer3"></div>
          <h1>DEVELOP</h1>
          <h4>Java & Android, SQL, RAILS, GIT</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="project">
  <div class="container text-center">
    <div class="line-box">
      <div class="line"></div>
    </div>
    <span>THESE ARE</span>
    <div class="line-box">
      <div class="line"></div>
    </div>
    <h1 class="big-title wow slideInLeft">MY PROJECTS</h1>
    <div class="line-box short-line">
      <div class="line"></div>
    </div>
    <span>I HAVE DONE SO FAR</span>
    <div class="line-box short-line">
      <div class="line"></div>
    </div>

    <div id="project-show" class="banner wow slideInUp" data-wow-offset="10">
      <ul>
        <li>
          <div class="row">
            <div class="col-md-6">
              <img src="images/mypassi.jpg" alt="" class="img-responsive img-rounded">
            </div>
            <div class="col-md-6">
              <h1>MyPassi</h1>
              <p>
                Your personal assistant on your beloved android phone. Make your individual settings, let other people know about your status - right as you like it - and see what your smartphone can do for you during your busy day. More information on www.mypassi.com.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-6">
              <img src="images/paylobo.jpg" alt="" class="img-responsive img-rounded">
            </div>
            <div class="col-md-6">
              <h1>Paylobo</h1>
              <p>
                Paylobo is a virtual loyalty card with payment capabilities on your smartphone. The user is able to activate shops so that he sees the current bonus- and stamp actions of it. For more information visit www.paylobo.com.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <div class="col-md-6">
              <img src="images/cloudsmsplus.jpg" alt="" class="img-responsive img-rounded">
            </div>
            <div class="col-md-6">
              <h1>CloudSMS+</h1>
              <p>
                CloudSMS+ was an online service which enabled users to receive and send SMS in their browser. This was possible through establishing a connection between an installed app and the google servers.
              </p>
            </div>
          </div>
        </li>
      </ul>
      <a href="javascript:void(0);" class="unslider-arrow prev">
        <img class="arrow" id="al" src="images/arrowl.png" alt="prev" width="20" height="35">
      </a>
      <a href="javascript:void(0);" class="unslider-arrow next">
        <img class="arrow" id="ar" src="images/arrowr.png" alt="next" width="20" height="37">
      </a>
    </div>
  </div>
  <div id="ability" class="container">
    <div class="row">
      <div class="col-md-3 wow slideInUp" id="ability-code-box" data-wow-offset="10">
        <a href="">
          <img src="images/code-default.png" class="img-responsive" id="code-image">
          <h3>WEB APPLICATIONS</h3>
        </a>
        <p>Starting with very simple web sites till complex internet presences.</p>
      </div>
      <div class="col-md-3 wow zoomIn" data-wow-offset="10">
        <a href="">
          <img src="images/software-default.png" class="img-responsive">
          <h3>SOFTWARE</h3>
        </a>
        <p>No matter whether Java Applications or Mobile Apps. </p>
      </div>
      <div class="col-md-3 wow flipInX" data-wow-offset="10">
        <a href="">
          <img src="images/flag-default.png" class="img-responsive">
          <h3>GRAPHICS & DESIGN</h3>
        </a>
        <p>Such as creating unique logos, catchy folders or just clear handouts. </p>
      </div>
      <div class="col-md-3 wow bounceInRight">
        <a href="">
          <img src="images/flag-default.png" class="img-responsive">
          <h3>VIDEO PRODUCTION</h3>
        </a>
        <p>Unfortunately, not much knowledge for professional outcomes.</p>
      </div>
    </div>
  </div>
</section>

<section id="contact-num">
  <div class="lvjing">
    <div class="container">
      <h1 class="wow fadeInRight" data-wow-offset="10">"Creativity is allowing yourself to make mistakes. Art is knowing which ones to keep."</h1>
      <h3>~ Scott Adams ~</h3>
      <div class="row">
        <div class="col-md-3 wow fadeInUp" data-wow-offset="10">
          <div class="social-box">
            <img src="images/facebook-icon.png" class="img-responsive">
          </div>
          <h5>Facebook</h5>
          <h3>Let's be friends</h3>
        </div>
        <div class="col-md-3 wow bounceInDown" data-wow-offset="10">
          <div class="social-box">
            <img src="images/twter-icon.png" class="img-responsive">
          </div>
          <h5>Twitter</h5>
          <h3>Follow my news</h3>
        </div>
        <div class="col-md-3 wow bounce" data-wow-offset="10">
          <div class="social-box">
            <img src="images/google-icon.png" class="img-responsive">
          </div>
          <h5>Google Plus</h5>
          <h3>Add to your circles</h3>
        </div>
        <div class="col-md-3 wow rotateIn" data-wow-offset="10">
          <div class="social-box">
            <img src="images/youtube-icon.png" class="img-responsive">
          </div>
          <h5>You Tube</h5>
          <h3>Discover my Channel</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="interests">
  <div class="container">
    <div class="line-box">
      <div class="line"></div>
    </div>
    <span>ACTUALLY</span>
    <div class="line-box">
      <div class="line"></div>
    </div>
    <h1 class="big-title wow slideInLeft" data-wow-offset="10">MY INTERESTS</h1>
    <div class="line-box short-line">
      <div class="line"></div>
    </div>
    <span>ARE REALLY COOL</span>
    <div class="line-box short-line">
      <div class="line"></div>
    </div>
    <h3>If I am not currently working for any project I really like doing the following things in my leisure time to keep me on the run. </h3>
    <div class="tag text-center">
      <button class="btn btn-primary">SHOW ALL</button>
      <button class="btn btn-primary">SPORTS</button>
      <button class="btn btn-primary">FOOD</button>
      <button class="btn btn-primary">FUN</button>
      <button class="btn btn-primary">TRAVELING</button>
    </div>
  </div>
</section>

<section id="picture-show">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 chickensalad">
        <div class="content text-center hidden">
          <img src="images/gift.png" class="img-responsive">
          <h3>Chicken Salad with Potatoes</h3>
        </div>
      </div>
      <div class="col-md-3 school">
      </div>
      <div class="col-md-3 motorbike">
      </div>
      <div class="col-md-3 hamandeggs">
      </div>
      <div class="col-md-3 snowboard">
      </div>
      <div class="col-md-3 vadering">
      </div>
      <div class="col-md-3 malta">
      </div>
      <div class="col-md-3 flag">
      </div>
    </div>
  </div>
</section>

<section id="data-about">
  <div class="shade">
    <div class="container-fluid text-center">
      <h2>Well, as you can see here are some interesting facts about myself.</h2>
      <div class="row">
        <div class="col-md-3">
          <img src="images/years.png" class="img-responsive">
          <h1><strong>23</strong></h1>
          <p class="muted">years old</p>
        </div>
        <div class="col-md-3">
          <img src="images/youtube.png" class="img-responsive">
          <h1><strong>10495</strong></h1>
          <p>views on my video</p>
        </div>
        <div class="col-md-3">
          <img src="images/praise.png" class="img-responsive">
          <h1><strong>148</strong></h1>
          <p>seconds to solve a Rubik's Cube</p>
        </div>
        <div class="col-md-3">
          <img src="images/data-flag.png" class="img-responsive">
          <h1><strong>2</strong></h1>
          <p>languages</p>
        </div>
      </div>
      <button class="btn btn-primary">INTERESTING</button>
    </div>
  </div>
</section>

<section id="personal" class="text-center">
  <div class="container">
    <div class="line-box">
      <div class="line"></div>
    </div>
    <span>MY PERSONAL</span>
    <div class="line-box">
      <div class="line"></div>
    </div>
    <h1 class="big-title">TIMELINE</h1>
    <div class="line-box short-line">
      <div class="line"></div>
    </div>
    <span>OF MY LIFE</span>
    <div class="line-box short-line">
      <div class="line"></div>
    </div>
    <h3>Here you can find all major events which influenced my life and have made me the person I am today. </h3>
    <div class="born text-center">
      <h1>Born</h1>
      <img src="images/born.png" class="img-responsive" />
      <p>6 December 1992</p>
      <div class="primary-school">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="">Elementary School Groß-Enzersdorf</a>
          </div>
          <div class="panel-body">
            <img src="images/elementaryschool.jpg" width="400px;">
          </div>
          <div class="panel-footer">
            <span>From September 1999 till June 2003 I attended<br/> school for the first time and got a lot of new friends.</span>
          </div>
        </div>
      </div>
      <div class="vertical-line"></div>

      <div class="primary-school-icon">
        <p>Sept. 1999</p>
        <img src="images/primary-school.png" class="img-responsive">
        <p>Elementary School</p>
      </div>
      <div class="vertical-line"></div>
      <div class="comprehensive-shool">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="">Comprehensive School Groß-Enzersdorf</a>
          </div>
          <div class="panel-body">
            <img src="images/comprehensiveschool.jpg" width="400px">
          </div>
          <div class="panel-footer">
            <span>One of the most influential time was at this<br /> school because of my friends and the fact that<br /> I grew older. </span>
          </div>
        </div>
      </div>

      <div class="primary-school-icon">
        <p>Sept. 2003</p>
        <img src="images/comprehensive.png" class="img-responsive">
        <p>Comprehensive School</p>
      </div>
      <div class="vertical-line"></div>

      <div class="firmenmesse">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="">HTL Rennweg - Internet & Media Engineering</a>
          </div>
          <div class="panel-body">
            <img src="images/firmenmesse.jpg" width="400px">
          </div>
          <div class="panel-footer">
            <span>As part of the Project Award we also organized<br /> a business fair where companies were able to<br /> promote their products. </span>
          </div>
        </div>
      </div>

      <div class="primary-school-icon">
        <p>Sept. 2007</p>
        <img src="images/high-school.png" class="img-responsive">
        <p>Technical High School</p>
      </div>
      <div class="vertical-line"></div>

      <div class="general-motors">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="">General Motors Powertrain Vienna</a>
            <p>
              My first internship was in 2008 at General<br /> Motors Powertrain Vienna where I touched the<br /> work life for the first time. 
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="phone-number">
  <div class="shadow">
    <div class="container-fluid text-center">
      <img src="images/phone.png">
      <h1 class="animated slideInLeft"><span class="phone">+86 13551031965</span></h1>
      <p>If you want to call me please contact me via the following form in advance. </p>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container text-center">
    <div class="line-box">
      <div class="line"></div>
    </div>
    <span>FELL FREE TO</span>
    <div class="line-box">
      <div class="line"></div>
    </div>
    <h1 class="big-title">CONTACT ME</h1>
    <div class="line-box line-short">
      <div class="line"></div>
    </div>
    <span>IF YOU WANT TO</span>
    <div class="line-box line-short">
      <div class="line"></div>
    </div>
    <p>Do you have any further question? Contact me and I will give you the answer you expect. </p>
    <div class="row text-left">
      <div class="col-md-6">
        <div class="form-group">
          <label>NAME*</label>
          <input type="" name="" class="form-control" placeholder="Enter name" />
        </div>
        <div class="form-group">
          <label>EMAIL*</label>
          <input type="" name="" class="form-control" placeholder="Enter email" />
        </div>
        <div class="form-group">
          <label>PHONE*</label>
          <input type="" name="" class="form-control" placeholder="Enter phone" />
        </div>
      </div>
      <div class="col-md-6">
        <label>MESSAGE*</label>
        <textarea class="form-control" rows="8"></textarea>
      </div>
      <div class="col-md-12 text-center">
        <button class="btn btn-primary">SEND MESSAGE</button>
      </div>
    </div>
  </div>
</section>
