default: &default
  host: localhost
  port: 5432
  adapter: postgresql
  encoding: unicode
  pool: 200
  username: dbdeveloper
  password: password
  database: person
  schema_search_path: public

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
