# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f6453c2682374bdce1402ec67104f5bffff971245f77feda0b5d8d834f39e88218fedf07bbb07dd770193fc01c4e143b761978e6355f181878b3aea272523675

test:
  secret_key_base: e53bd1bc7a6cc9076be609e20ba75ddd8452202181fc653a407f964f1eafbb8c599c7930303e5bc41fd351d380de80b76e9879facdba1362d4658abb19c0fa60

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
